body {
    margin: 0 auto;
    font-family: 'Raleway'
}

.movie-db {
    height: 30px;
    vertical-align: "center"
}

.root {
    margin: 0 auto;
}

.disclaimer {
    background-color: #081c24;
    color: white;
    text-align: center;
    margin: 0px auto;
    padding: 10px 0;
}

.disclaimer a {
    color: #01d277;
    text-decoration: none;
}

.disclaimer img {
    vertical-align: middle;
}